/*
    Theme Name: The Dowl
    Theme URI: http://tomdalling.com/
    Description: Basic bootstrap theme.
    Author: Tom Dalling
*/

body {
    background: white url(bg-pattern.png);
}

.subscribe-button {
    text-align: center;
}

.post {
    margin-bottom: 1em;
    overflow: auto;
}

h1 a {
    color: black;
}

.post-listed h2.title {
    margin-bottom: 0;
}

.post .meta {
    color: #999;
    display: block;
}

.post-listed .meta {
    margin-bottom: 1em;
}

.post .meta i {
    vertical-align: baseline;
    position: relative;
    top: 2px;
}

.post .meta .chunk {
    padding: 0 10px 0 2px;
}

.post .subscribe-bait {
    margin: 2em 0;
    text-align: center;
}

.post .subscribe-bait .btn {
    padding-top: 1px;
    padding-bottom: 1px;
}

.post .subscribe-bait iframe {
    vertical-align: middle;
}

body pre {
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
}

body pre.prettyprint{
    padding: 1em;
    font-size: 14px;
    line-height: inherit;
    margin: 1em 0 1em 1em;
    width: auto;
}

.post-single .post-thumbnail {
    margin-bottom: 2em;
    text-align: center;
}

.post-single h2 {
    margin-top: 1em;
}

.post blockquote.pull-right {
    width: 40%;
    background: #ffe9aa;
    padding: 0.5em;
    margin-left:1em;
    clear: right;
}

.post code {
    white-space: nowrap;
}

.post p.image {
    text-align: center;
    font-size: small;
    font-style: italic;
    color: #666;
    margin: 1em 0;
}

.post p.image img {
    display: block;
    margin: 0 auto 5px;
}

.post .mathjax-block {
    text-align: center;
    display: block;
    font-size: 120%;
    margin: 1em 0;
}

.post-listed .wp-post-image {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
}

a img:hover {
    opacity:0.75;
}

h1, h2, h3, h4 {
    text-shadow: #AAA 1px 1px 3px;
}

.hero-unit {
    background: url(front-banner.jpg) left center no-repeat;
}

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}

body .nav-header {
    font-size: 14px;
}
